.flip-clock-wrapper ul, .flip-clock-divider {
    display: inline-block !important;
    float: none !important;
}

.clock {
    background: url('walle.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0 !important;
    height: 100%;
}

@media (max-width: 690px) {
    .flip {
        width: 50px !important;
    }
    .inn {
        /*font-size: 60px !important;*/
    }
}

@media (max-width: 600px) {
    .flip {
        width: 40px !important;
    }
    .inn {
        font-size: 50px !important;
    }
    /*.flip-clock-wrapper ul li {
        height: 70% !important;
        line-height: 65px !important;
    }*/
}